@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

$primary-color: #0f2462; // rgb(15, 36, 98);
$secondary-color: #f4f4f4; // rgb(244,244,244);
$tertiary-color: #debf10;
$text-dark: #333;
$fontface: "PT Serif", Times, serif;

// easeOut mixin
@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin alignBrandingMd {
  .branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    .portrait {
      img {
        max-width: 150px;
      }
    }

    .intro {
      text-align: left;
      padding: 0 10px;
    }

    .social {
      a {
        i {
          padding: 5px 10px;
        }
      }
    }
  }
}

@mixin alignBrandingSm {
  .branding {
    display: block;

    .intro {
      text-align: center;
      margin-bottom: 0.75rem;
    }
  }
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return $text-dark;
  } @else {
    @return $secondary-color;
  }
}

.container {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 30px;
}

.card {
  color: $text-dark;
  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 2rem;
}

.important {
  @extend .card;
  padding: 1rem;
  margin: 0.5rem;
}

.branding {
  padding-top: 15px;
  z-index: 100;
  overflow: visible;

  .portrait {
    text-align: center;

    img {
      max-width: 70%;
      border-radius: 50%;
      border: solid $tertiary-color 3px;
    }
  }

  .intro {
    text-align: center;
    padding: 30px;

    h2 {
      margin-bottom: 10px;
    }
  }

  .social {
    text-align: center;

    a {
      color: $text-dark;

      i {
        padding: 10px;
      }

      &:hover {
        color: $tertiary-color;
        @include easeOut;
      }
    }
  }
}

.positions,
.educations {
  .position,
  .education {
    margin-top: 1.5rem;

    .headline {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;

      .title,
      .company {
        padding-right: 15px;
      }

      .title {
        font-size: 1.5rem;
      }

      .company {
        color: $tertiary-color;
        text-transform: lowercase;
      }

      .location {
        flex-grow: 1;
        text-align: right;
      }
    }

    .time {
      margin-bottom: 5px;
      font-style: italic;
    }

    ul.description {
      padding-left: 20px;

      li {
        margin-bottom: 10px;
      }
    }

    &.important {
      margin: 1.5rem 0;
    }
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  .skill {
    margin: 5px;
    font-size: 0.8rem;
    border: solid #ccc 1px;
    border-radius: 10px;
    padding: 10px;

    i,
    h3,
    p {
      display: inline-block;
      margin-right: 5px;
      line-height: 1rem;
    }

    &-light {
      background-color: lighten($tertiary-color, 40);
      border: none;
    }

    &-dark {
      background-color: #54638e;
      color: set-text-color($primary-color);
      border: none;
    }

    &:hover {
      transform: scale(1.02);
    }
  }
}

.languages {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  margin-top: 20px;

  .language {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    // margin-bottom: 20px;

    i {
      font-size: 3rem;
      margin-bottom: 5px;
    }

    &:hover {
      @extend .card;
      transform: translateY(-10px);
      @include easeOut;

      i {
        color: $tertiary-color;
        @include easeOut;
      }
    }

    &-home {
      width: 50%;
    }
  }
}

.leaderships,
.awards {
  // margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;

  .leadership,
  .award {
    width: 50%;
    padding: 1.5rem;
    text-align: center;

    i {
      color: $tertiary-color;
      font-size: 2.5rem;
      margin-bottom: 5px;
    }

    h2 {
      margin-bottom: 20px;
    }

    p {
      text-align: left;
      text-indent: 15px;
      margin-bottom: 10px;
    }

    &.important {
      width: 47%;
    }
  }
}

.groups {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;

  .group {
    padding: 15px 2rem;

    i {
      display: inline-block;
      font-size: 1.2rem;
      padding-right: 5px;
      width: 29px;
      text-align: center;
    }

    h3 {
      display: inline-block;
    }

    p {
      margin-left: 33px;
    }
  }
}

.contact {
  padding-top: 1rem;

  .email,
  .phone,
  .indeed,
  .linkedin,
  .github {
    h2 {
      display: inline-block;
    }

    h3 {
      display: inline-block;
      color: $tertiary-color;
      padding-left: 2rem;
    }
  }
}

// Media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
