@include mediaXl {
} // Widescreens

@include mediaLg {
} // Desktops & Laptops

@include mediaMd {
  header .container {
    .menu-btn {
      display: block;
    }

    .menu {
      &-nav {
        max-height: 0;
        background-color: darken($primary-color, 10);
        opacity: 90%;
        border-radius: 10px;
        display: block;
        position: absolute;
        top: 35px;
        right: 80px;
        overflow-y: hidden;
        z-index: 100;
        padding: 0;

        &.show {
          max-height: 500px;
          overflow-y: visible;
          padding: 5px 0;
          transition: all 0.5s ease;
        }

        .nav-item {
          padding: 10px;
        }
      }
    }
  }

  .showcase .container {
    grid-template-columns: 1fr;

    .tagline {
      text-align: center;
      margin: 20px 30px;
    }

    .branding {
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 99;

      .portrait {
        img {
          max-width: 150px;
        }
      }

      .intro {
        text-align: left;
        padding: 0 10px;
      }

      .social {
        a {
          i {
            padding: 5px 10px;
          }
        }
      }
    }
  }

  #highlights {
    margin-top: 175px;
    grid-template-columns: 1fr;
    grid-column: 1;

    #positions {
      grid-column: 1;
    }

    #educations {
      grid-column: 1;
    }

    #skills {
      grid-column: 1;
      grid-row: auto;
    }

    #languages {
      grid-column: 1;
      grid-row: auto;

      .languages .language {
        width: auto;
      }
    }
  }
} // Tablets &  Small Laptops

@include mediaSm {
  header .container .menu {
    &-nav {
      position: absolute;
      top: 90px;
      right: 35px;
    }
  }

  .showcase {
    height: auto;
    .container .branding {
      display: block;
    }
  }

  #highlights {
    margin-top: 50px;
    text-align: center;
  }

  #leadership {
    text-align: center;

    .leaderships {
      display: block;

      .leadership {
        width: 100%;
      }
    }
  }
} // Smartphones
