@include mediaXl {
} // Widescreens

@include mediaLg {
} // Desktops & Laptops

@include mediaMd {
  header .container {
    .menu-btn {
      display: block;
    }
    .nav {
      display: none;
    }
  }

  .showcase .container {
    grid-template-columns: 1fr;

    .tagline {
      text-align: center;
      margin: 20px 30px;
    }

    .branding {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .portrait {
        img {
          max-width: 150px;
        }
      }

      .intro {
        text-align: left;
        padding: 0 10px;
      }
    }
  }

  #highlights {
    margin-top: 200px;
    grid-template-columns: 1fr;
    grid-column: 1;

    #positions {
      grid-column: 1;
    }

    #educations {
      grid-column: 1;
    }

    #skills {
      grid-column: 1;
      grid-row: auto;
    }

    #languages {
      grid-column: 1;
      grid-row: auto;

      .languages .language {
        width: auto;
      }
    }
  }
} // Tablets &  Small Laptops

@include mediaSm {
} // Smartphones
