@import "config";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $text-dark;
  background-color: $secondary-color;
  height: 100%;
  font-family: $fontface;
  line-height: 1.5;
}

main {
  min-height: calc(100vh - 60px);
}

header {
  background-color: $primary-color;
  color: $secondary-color;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        color: $secondary-color;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 1.2rem;

        &:hover {
          @include easeOut;
          color: lighten($primary-color, 60);
        }
      }

      &::after {
      }
    }

    .logo {
      font-size: 1.5rem;
      margin: 15px 0;
    }
  }
}

.showcase {
  background-color: $primary-color;
  overflow: visible;
  height: 150px;
  color: $tertiary-color;
  position: relative;

  .container {
    display: flex;
    justify-content: space-between;

    &::after {
      content: "";
      position: absolute;
      height: 200px;
      bottom: -45px;
      right: 0;
      left: 0;
      background-color: $primary-color;
      transform: skewY(3deg);
      -webkit-transform: skewY(3deg);
      -moz-transform: skewY(3deg);
      -ms-transform: skewY(3deg);
      z-index: -1;
    }

    .tagline {
      font-size: 2em;
      font-style: italic;
      margin: 40px 30px;
    }

    .card {
      width: 25%;
      padding-top: 15px;
      z-index: 100;

      .portrait {
        text-align: center;

        img {
          width: 70%;
          border-radius: 50%;
          border: solid $tertiary-color 3px;
        }
      }

      .intro {
        text-align: center;
        padding: 30px;
      }

      .social {
        text-align: center;

        a {
          padding: 0 10px;
          color: $text-dark;

          &:hover {
            color: $tertiary-color;
            @include easeOut;
          }
        }
      }
    }
  }
}

.main-content {
  position: relative;
  top: 70px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: $primary-color;
  color: $secondary-color;
  height: 60px;
}
