@import "config";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $text-dark;
  background-color: $secondary-color;
  height: 100%;
  font-family: $fontface;
  line-height: 1.5;
}

main {
  min-height: calc(100vh - 60px);
}

header {
  background-color: $primary-color;
  color: $secondary-color;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        color: $secondary-color;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 1.2rem;

        &:hover {
          color: lighten($primary-color, 60);
        }
      }
    }

    .logo {
      font-size: 1.5rem;
      margin: 15px 0;
    }
  }
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: $primary-color;
  color: $secondary-color;
  height: 60px;
}
