@import "config";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $text-dark;
  background-color: $secondary-color;
  height: 100%;
  font-family: $fontface;
  line-height: 1.5;
}

main {
  min-height: calc(100vh - 60px);
}

header {
  background-color: $primary-color;
  color: $secondary-color;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        color: $secondary-color;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 1.2rem;

        &:hover {
          @include easeOut;
          color: lighten($primary-color, 60);
        }
      }
    }

    .logo {
      font-size: 1.5rem;
      margin: 15px 0;
    }
  }
}

.main-content {
  .container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 4fr;

    .portrait {
      text-align: center;
      padding-top: 30px;

      img {
        width: 80%;
        border-radius: 50%;
        border: #debf10 4px solid;
      }
    }

    .tagline {
      padding-top: 30px;
      font-style: italic;
      font-size: 1.5rem;
      color: lighten($primary-color, 10);
    }

    .branding {
      .intro {
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
        padding-bottom: 30px;
      }

      .social {
        text-align: center;

        a {
          padding: 0 6px;
          color: $text-dark;

          &:hover {
            color: #debf10;
            @include easeOut;
          }
        }
      }
    }
  }
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: $primary-color;
  color: $secondary-color;
  height: 60px;
}
