.nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &-list {
        list-style: none;
        display: flex;
        align-items: center;

        &-item {
            @include ease-out;

            &>a {
                color: set-text-color($primary-color);
                text-decoration: none;

                &:hover {
                    border-bottom: solid #fff 1px;
                }
            }

            &-noeffect>a {
                color: $secondary-color;
                text-decoration: none;

                &:hover {
                    color: $secondary-color;
                }
            }

            &.current {
                border-bottom: solid #fff 1px;
            }
        }
    }

    .menu-btn {
        display: none;
        font-size: 1.6em;

        &-badge {
            height: 52px;
            width: 53px;
            border-radius: 50%;
            padding-top: 4.5px;
            padding-left: .5px;
            @include ease-out;

            &-text {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 43px;
                width: 43px;
                padding: 5px;
                margin: auto;
                border: solid 1.5px;
                border-radius: 50%;
                font-size: 1.2rem;
                text-align: center;
            }

            &:hover {
                color: $secondary-color;
                @include light-background;
                // @include box-shadow;
            }

            .icon {
                font-size: 1.6rem;
            }
        }
    }
}

header .container .nav {
    &-list {
        justify-content: space-between;
        gap: 20px;

        &-item>a {
            font-size: 1.2rem;
            padding: 0 20px;
        }
    }
}

footer .container .nav {
    &-list {
        justify-content: center;
        gap: 10px;

        &-item>a {
            padding: 0 10px;
        }
    }


}

@include mediaSm {
    header .container .nav {
        justify-content: center;
        gap: 20px;
        padding-bottom: 25px;

        &-list {
            display: block;
            position: absolute;
            top: 160px;
            left: -110px;
            padding: 5px 0;
            background-color: $secondary-color;
            border-radius: 15px;
            @include box-shadow;
            @include ease-out;

            &-item {
                margin: 5px 10px;

                &>a {
                    color: $text-dark;
                    padding: 0 10px
                }

                &.current {
                    border-bottom: solid $text-dark 1px;
                }
            }

            &.open {
                left: 5px;
            }
        }

        .menu-btn {
            display: block;
        }
    }
}

/*
    .menu-btn {
        position: absolute;
        z-index: 3;
        top: 35px;
        right: 35px;
        cursor: pointer;
        @include easeOut;
    
        .btn-line {
            width: 28px;
            height: 3px;
            margin: 0 0 5px 0;
            background: set-text-color($primary-color);
            @include easeOut;
        }
    
        // Rotate into X with menu lines
        &.close {
            transform: rotate(180deg);
    
            .btn-line {
    
                // Line 1: rotate
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }
    
                // Line 2: hide
                &:nth-child(2) {
                    opacity: 0;
                }
    
                // Line 3: rotate
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(6px, -6px);
                }
            }
        }
    }
    
    .menu-btn {
        display: none;
    }
*/