@include mediaXl {
} // Widescreens

@include mediaLg {
  #resume,
  #contact {
    .container .branding {
      .intro {
        max-height: 360px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 13;
        overflow: hidden;
      }

      .social {
        display: flex;
        justify-content: space-between;
      }
    }
  }
} // Desktops & Laptops

@include mediaMd {
  header .container {
    .menu-btn {
      display: block;
    }

    .menu {
      &-nav {
        max-height: 0;
        background-color: darken($primary-color, 10);
        opacity: 90%;
        border-radius: 10px;
        display: block;
        position: absolute;
        top: 35px;
        right: 80px;
        overflow-y: hidden;
        z-index: 100;
        padding: 0;

        &.show {
          max-height: 500px;
          overflow-y: visible;
          padding: 5px 0;
          transition: all 0.5s ease;
        }

        .nav-item {
          padding: 10px;
        }
      }
    }
  }

  .showcase .container {
    grid-template-columns: 1fr;

    .tagline {
      text-align: center;
      margin: 20px 30px;
    }

    @include alignBrandingMd;
  }

  #highlights {
    margin-top: 175px;
    grid-template-columns: 1fr;
    grid-column: 1;

    #positions {
      grid-column: 1;
    }

    #educations {
      grid-column: 1;
    }

    #skills {
      grid-column: 1;
      grid-row: auto;
    }

    #languages {
      grid-column: 1;
      grid-row: auto;

      .languages .language {
        width: auto;
      }
    }
  }

  #resume,
  #contact {
    .container {
      grid-template-columns: 1fr;
      margin-top: 0;
      text-align: center;

      div .branding {
        margin-bottom: 1.5rem;
      }

      @include alignBrandingMd;

      .resume,
      .contact {
        margin: 0;
        padding: 0;
      }

      .languages {
        justify-content: space-between;
      }
    }
  }
} // Tablets &  Small Laptops

@include mediaSm {
  header .container .menu {
    &-nav {
      position: absolute;
      top: 90px;
      right: 35px;
    }
  }

  .showcase {
    height: auto;

    @include alignBrandingSm;
  }

  #highlights {
    margin-top: 50px;
    text-align: center;
  }

  #leadership {
    text-align: center;

    .leaderships {
      display: block;

      .leadership {
        width: 100%;
      }
    }
  }

  #resume,
  #contact {
    .container {
      padding: 0 0.75rem;

      @include alignBrandingSm;

      .languages {
        justify-content: center;
      }

      .skills {
        justify-content: center;
      }

      .awards {
        display: block;

        .award {
          width: 100%;
        }
      }

      .groups {
        justify-content: center;

        .group {
          padding: 1rem 0;
        }
      }

      .leadership.important {
        margin: 0.5rem 0;
      }
    }
  }
} // Smartphones
