.auth {
    font-size: 1.6em;

    &-container {
        position: absolute;
        width: 300px;
        top: 150px;
        right: 5px;
        color: $text-dark;
        border: solid $highlight-color 1px;
        border-radius: 15px;
        @include box-shadow;

        .logout {
            grid-area: logout;
            border-radius: 50%;
            padding: 6px;
            margin-left: auto;

            &:hover {
                cursor: pointer;
                @include box-shadow;
                @include ease-out;
            }

            &-icon {
                font-size: 1.6em;
            }
        }


    }
}